@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Sacramento&display=swap");

@keyframes wind {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(calc(+5rem - 1rem));
    left: 99%;
    transform: translateY(0);
  }
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxs;
}

.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 25;
  background: rgb(4, 1, 33);
  background: linear-gradient(
    298deg,
    rgba(4, 1, 33, 1) 0%,
    rgba(121, 111, 111, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}
.loader2 {
  z-index: 25;
}

.loader-shap {
  width: 2rem;
  height: 2rem;
  background-color: #ffde59;
  margin: 1rem;
  border-radius: 50%;
  animation: load_shap 1.2s ease infinite;
}

.loader-shap:nth-child(1) {
  animation-delay: 0.2s;
}

.loader-shap:nth-child(2) {
  animation-delay: 0.4s;
}

.loader-shap:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes load_shap {
  50% {
    transform: translateY(-50%);
    border-bottom: 16px solid #292929;
    box-shadow: 0 8rem 2rem rgba(255, 222, 89, 0.24);
  }
}
/* logo */
.logo {
  width: 13rem;
}

.landingLocation {
  position: absolute;
  width: 10rem;
  top: 1rem;
  right: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50rem;
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  cursor: pointer;
}
.landingLocation:hover {
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.landingLocation:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  background-color: orangered;
}
/* landing page */
.landing_page {
  display: flex;
  background: url("background_landing.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  min-height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: transform 1s;

  flex-direction: column;

  /* animation: templateBackground 2s linear; */
}
/* landing page template */
.landing_page_temp {
  background-color: #eeeee4;
  width: 50rem;
  height: 47rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  border-radius: 4rem;

  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: relative;
}
.landing_page_temp--heading {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}
.input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid black;
  box-shadow: none;
  color: #111;
  background: transparent;
}
.input-field label {
  left: 0;
  font-size: 1.75rem;
  color: black;
}
input:invalid {
  outline: 0;
  color: black;
  border-color: black;
}
input:focus,
input:valid {
  border-color: orangered;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 2.1rem;
  top: -2rem;
  left: 0;
  color: orangered;
}
.landing_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn-landing {
  margin-top: 2.5rem;
  padding: 1rem 3.5rem;
  background: transparent;
  border: 2px solid black;
  border-radius: 14px;
  font-size: 1.5rem;
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  cursor: pointer;
}
.btn-landing:hover {
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  border-color: orangered;
  color: orangered;
}
/* landing page error handler */

.wrapper-warning {
  width: 50%;
  height: 10rem;
  background-color: wheat;
  z-index: 30;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 25%;
  top: 45%;
  visibility: hidden;
  cursor: pointer;
}
.strip {
  background-color: red;
  width: 1rem;
  height: 100%;
  margin-right: 10%;
}
.icon {
  font-size: 3rem;
  margin-right: 5%;
}
.icon-times {
  flex: 1;
  text-align: end;
  padding-right: 2rem;
}
/* section2 */
.section2 {
  width: 100%;
  min-height: 100vh;
  transform: translateX(-100vw);
  /* transform: translateY(100vh); */
  transition: transition 1s;
  /* background: url("panel1bg.png"); */
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
/* panel-1 */
.panel1 {
  height: 50rem;
  width: 40rem;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 4rem;
  z-index: 0;
  background-size: contain;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.panel1-title {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  padding: 2rem;
}
.panel1-cityName {
  font-size: 4.5rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
.panel1-DateTime {
  font-size: 2rem;
  padding-bottom: 1.3rem;
}
.panel1-temp {
  font-size: 7rem;
  font-family: sans-serif;
  font-weight: bolder;
}
.panel1-dash {
  margin-top: -0.5rem;
  font-size: 4rem;
}
.panel1-weather {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.panel1-prec {
  font-size: 2rem;
}
.panel1-prec svg {
  color: white;
}
.panel1-bottom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
/* media */
@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
  .landing_page_temp {
    width: 40rem;
    height: 43rem;
  }
  .panel1 {
    width: 38rem;
    height: 50rem;
  }
  .wrapper-warning {
    width: 100%;
    left: 0;
  }
}
