@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Sacramento&display=swap");

@keyframes wind {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(calc(+5rem - 1rem));
    left: 99%;
    transform: translateY(0);
  }
}
@keyframes sun {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxs;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
  background: rgb(4, 1, 33);
  background: linear-gradient(
    298deg,
    rgba(4, 1, 33, 1) 0%,
    rgba(121, 111, 111, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}
.loader2 {
  z-index: 25;
  height: 100vh;
}

.loader-shap {
  width: 2rem;
  height: 2rem;
  background-color: #ffde59;
  margin: 1rem;
  border-radius: 50%;
  animation: load_shap 1.2s ease infinite;
}

.loader-shap:nth-child(1) {
  animation-delay: 0.2s;
}

.loader-shap:nth-child(2) {
  animation-delay: 0.4s;
}

.loader-shap:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes load_shap {
  50% {
    transform: translateY(-50%);
    border-bottom: 16px solid #292929;
    box-shadow: 0 8rem 2rem rgba(255, 222, 89, 0.24);
  }
}
/* logo */
.logo {
  width: 13rem;
}

.landingLocation {
  position: absolute;
  width: 10rem;
  top: 1rem;
  right: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50rem;
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  cursor: pointer;
}
.landingLocation:hover {
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.landingLocation:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  background-color: orangered;
}
/* landing page */
.landing_page {
  display: flex;
  background: url("background_landing.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  min-height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: transform 1s;

  flex-direction: column;

  /* animation: templateBackground 2s linear; */
}
/* landing page template */
.landing_page_temp {
  background-color: #eeeee4;
  width: 50rem;
  height: 47rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  border-radius: 4rem;

  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: relative;
}
.landing_page_temp--heading {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}
.input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid black;
  box-shadow: none;
  color: #111;
  background: transparent;
}
.input-field label {
  left: 0;
  font-size: 1.75rem;
  color: black;
}
input:invalid {
  outline: 0;
  color: black;
  border-color: black;
}
input:focus,
input:valid {
  border-color: orangered;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 2.1rem;
  top: -2rem;
  left: 0;
  color: orangered;
}
.landing_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn-landing {
  margin-top: 2.5rem;
  padding: 1rem 3.5rem;
  background: transparent;
  border: 2px solid black;
  border-radius: 14px;
  font-size: 1.5rem;
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  cursor: pointer;
}
.btn-landing:hover {
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  border-color: orangered;
  color: orangered;
}
/* landing page error handler */

.wrapper-warning {
  width: 50%;
  height: 10rem;
  background-color: wheat;
  z-index: 30;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 25%;
  top: 45%;
  visibility: hidden;
  cursor: pointer;
}
.strip {
  background-color: red;
  width: 1rem;
  height: 100%;
  margin-right: 10%;
}
.icon {
  font-size: 3rem;
  margin-right: 5%;
}
.icon-times {
  flex: 1;
  text-align: end;
  padding-right: 2rem;
}
/* section2 */
.section2 {
  width: 100%;
  min-height: 100vh;
  transform: translateX(-100vw);
  /* transform: translateY(100vh); */
  transition: transition 1s;
  /* background: url("panel1bg.png"); */
  background-size: cover;

  visibility: hidden;
  display: none;
  background-position: top;
  position: relative;
}
.section2Con {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* panel-1 */
.panel1 {
  height: 50rem;
  width: 40rem;
  margin: 10rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 4rem;
  z-index: 0;
  background-size: contain;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.panel1-title {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  padding: 2rem;
}
.panel1-cityName {
  font-size: 4.5rem;
  padding-bottom: 0.8rem;
  text-align: center;
}
.panel1-DateTime {
  font-size: 2rem;
  padding-bottom: 1.3rem;
}
.panel1-temp {
  font-size: 7rem;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.degree {
  color: orangered;
}
.panel1-dash {
  margin-top: -0.5rem;
  font-size: 4rem;
}
.panel1-weather {
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.panel1-prec {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.panel1-wind {
  font-size: 2rem;
}
.panel1-prec svg {
  color: white;
}
.panel1-bottom {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}
/* sunset and sunrise */
.sunrise {
  position: absolute;

  left: 15%;
  top: 17%;
}
.sunrise svg {
  width: 4rem;
  height: 4rem;
  animation: sun 2.5s infinite linear;
  color: yellow;
}
.sunset {
  position: absolute;

  right: 10%;
  top: 17%;
}
.sunset svg {
  height: 4rem;
  width: 4rem;
  animation: sun 2.5s infinite linear;
  color: rgb(253, 101, 46);
}
.sun-text {
  text-align: center;
  color: white;
  font-size: 2rem;
  padding-top: 1rem;
  margin-left: -1.5rem;
}

/* panel2 */
.panel2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.pollution {
  width: 40rem;
  height: 100%;
}

.nav {
  position: sticky;
  top: 0;
  height: 7rem;
  width: 100%;
  background-color: #434344;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-left {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.nav-right {
  display: flex;
  justify-content: end;
}
.nav-title {
  font-size: 2.5rem;
  color: white;
  font-family: "Sacramento", cursive;
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.nav-right {
  flex: 1;
  margin-right: 3rem;
}
.nav-logo img {
  width: 5rem;
}

.search-bar {
  display: flex;
  transform: scale(1.2);
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.2s linear;
}
.search-bar input,
.search-btn {
  width: 3rem;
  height: 3rem;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;

  justify-content: center;
  max-width: 30rem;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5rem;
  box-shadow: 0 0 0 0.4rem white inset;
  padding: 0.75rem;
  transform: translate(0.5rem, 0.5rem) scale(0.5);
  transform-origin: 100% 0;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375rem 0 0 0.375rem;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
  border: none;
}
.search-btn {
  border-radius: 0 0.75rem 0.75rem 0 / 0 1.5rem 1.5rem 0;
  padding: 0.75rem;
  position: relative;
  transform: translate(0.25rem, 0.25rem) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
  border: none;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem #f1f1f1 inset;
  top: 0.75rem;
  left: 0.75rem;
  width: 1.2rem;
  height: 1.2rem;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25rem 0.25rem 0;
  top: 51%;
  left: 51%;
  width: 0.75rem;
  height: 0.25rem;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */

.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: rgb(255, 68, 0);
  border-radius: 0 0.375rem 0.375rem 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: rgb(192, 68, 23);
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

.box {
  position: relative;

  width: 27.5rem;
  height: 14rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-bottom: 0.4rem black solid;
  font-size: 2rem;
  color: white;
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  cursor: pointer;
}

.triangle-alt {
  display: block;
  height: 20px;
  width: 20px;
  background-color: inherit;
  border: inherit;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(-45deg);
  border-radius: 0 0 0 0.25em;
}
.box-text {
  width: 100%;
  text-align: center;
}
.box-p {
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 2.5rem;
}
.box-h1 {
  font-size: 2.5rem;
}
.box:hover {
  box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.box:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

/* media */
@media (max-width: 1250px) {
  .panel2 {
    position: static;
  }
  .section2Con {
    position: static;
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
  .landing_page_temp {
    width: 40rem;
    height: 43rem;
  }
  .panel1 {
    width: 38rem;
    height: 50rem;
  }
  .wrapper-warning {
    width: 100%;
    left: 0;
  }
}
